.graphic-design {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  vertical-align: top;
  line-height: 20px;
  text-decoration: none;

  &__chart-3 {
    background: url(../images/chart-3.png) no-repeat center;
    width: 153px;
    height: 153px;
    margin: 0 auto;
  }

  &__block-text {
    display: inline-block;
    width: 100%;
  }

  &__title-four {
    margin-bottom: 100px; 
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 15px;
    text-align: center;
    color: $black-45;
    font-weight: 300;
  }

  @media screen and (min-width: 768px) {
    
    &__title-four {
      font-size: 24px;
      font-weight: 300;
    }
  }

  @media screen and (min-width: $viewport-md) {
    display: inline-block;
    width: 24%;

    &__title-four {
      margin-top: 30px;
    }
  }
}
