.people-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  vertical-align: top;
  line-height: 20px;
  text-decoration: none;

  &__face {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    float: left;

    &--avatar-1 {
      background-image: url(../images/avatar-1.png);
    }

    &--avatar-2 {
      background-image: url(../images/avatar-2.png);
    }

    &--avatar-3 {
      background-image: url(../images/avatar-3.png);
    }

    &--avatar-4 {
      background-image: url(../images/avatar-4.png);
    }
  }

  &__block-text {
    display: inline-block;
    margin-left: 10px;
    width: 65%;
    float: left;
  }

  &__paragraphly-people {
    margin: 0 auto;
    width: 90%;
    float: left;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    color: $white; 
  }

  &__content {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__title-four {
    margin-bottom: 10px; 
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 22px;
    text-align: left;
    color: $white;
    font-weight: 400;
  }

  &__title-five {
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: $white-fd
  }

  @media screen and (min-width: $viewport-md) {
    
    &__block-text {
      width: 60%;
      margin-left: 40px;
    }

    &__title-four {
      font-size: 24px;
      font-weight: 300;
    }

    &__paragraphly-people {
      font-size: 18px;
      line-height: 25px;
    }
  }

  @media screen and (min-width: $viewport-lg) {
    display: inline-block;
    width: 49%;
    margin-right: 0;
    margin-bottom: 0;

    &__title-four {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}
