.team-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  vertical-align: top;
  line-height: 20px;
  text-decoration: none;

  &__face {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

    &--james {
      background-image: url(../images/photo-1.png);
    }

    &--peter {
      background-image: url(../images/photo-2.png);
    }

    &--olivia {
      background-image: url(../images/photo-3.png);
    }

    &--ashley {
      background-image: url(../images/photo-4.png);
    }
  }

  &__block-text {
    display: inline-block;
    width: 100%;
  }

  &__title-four {
    margin-bottom: 10px; 
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 15px;
    text-align: center;
    color: $black-38;
    font-weight: 400;
  }

  &__title-five {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    color: $light-black;
  }

  &__content {
    margin-bottom: 20px;
    width: 100%;
  }

  &__paragraphly-team {
    width: 90%;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    color: $black-38; 
  }

  @media screen and (min-width: $viewport-md) {
    
    &__title-four {
      font-size: 24px;
      font-weight: 300;
    }

    &__paragraphly-team {
      font-size: 18px;
      line-height: 25px;
    }
  }

  @media screen and (min-width: $viewport-lg) {
    display: inline-block;
    width: 24%;

    &__title-four {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}
