@import "core/all";
@import "components/all";

@media screen and (min-width: 320px) {

  header {
    background-color: #f57a82;
    background: url(../images/bg1.png) no-repeat;
    width: 100%;
  }

  .menu-one {
    margin: 10px auto 0;
    display: inline-block;
    text-align: center;
  }
  .menu-two {
    margin: 10px auto 10px;
    display: inline-block;
    text-align: center;
  }
  .menu-one li {
    display: inline-block;
  }

  .menu-two li {
    display: inline-block;
  }

  .menu-two a {
    text-decoration: none;
    font-size: 14px;
    color: #fdf2f2;
    font-family: Raleway;
    font-weight: 300;
    text-transform: uppercase;
  }

  .menu-one a {
    text-decoration: none;
    font-size: 14px;
    color: #fdf2f2;
    font-family: Raleway;
    font-weight: 300;
    text-transform: uppercase;
  }
  nav {
    width: 100%;
    text-align: center;
  }

  .border {
    border: 1px solid #transparen;
    border-radius: 4px;
    display: block;
    float: left;
    padding: 5px;
    margin: 0 30px 0 0;
  }
  .border:hover {
    border: 1px solid #fbe3e4;
    padding: 4px;
  }

  .header-text h2 {
    text-decoration: none;
    font-family: Raleway;
    font-size: 16px;
    color: #f7f3ea;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .header-text {
    display: inline-block;
    float: none;
    margin: 30px 0 30px;
    width: 100%;
  }
  .btn {
    display: block;
    margin: 0 0 40px;
    text-align: center;
  }
  .button {
    background: #fff;
    color: #f57a82;
    text-decoration: none;
    text-transform: uppercase;
    font: 10px Oxygen;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
  }
  .services {
    background-color: #5db5a4;
    width: 100%;
  }
  .caption {
    margin: 30px 0 0;
    display: inline-block;
    width: 100%;
  }
  .caption h3 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .line {
    display: block;
    width: 50px;
    border-bottom: 2px solid #7dc4b6;
    margin: 0 auto 30px;
  }
  .caption-text {
    display: inline-block;
    width: 100%;
    margin: 0 0 40px;
  }
  .caption-text p {
    text-decoration: none;
    font-family: Raleway;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .block-one {
    display: block;
    width: 100%;
  }
  .flag {
    background: url(../images/Flag.png) no-repeat center;
    width: 151px;
    height: 151px;
    margin: 0 auto;
  }
  .head {
    display: inline-block;
    width: 100%;
  }
  .head h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
  .content {
    margin-bottom: 20px;
    width: 100%;
  }
  .content p {
    text-decoration: none;
    font-family: Raleway;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
  }
  .block-two {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
  .pencil {
    background: url(../images/pencil.png) no-repeat center;
    width: 151px;
    height: 151px;
    margin: 0 auto;
  }
  .block-three {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
  .gears {
    background: url(../images/gears.png) no-repeat center;
    width: 151px;
    height: 151px;
    margin: 0 auto;
  }
  .block-four {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
  .rocket {
    background: url(../images/Rocket.png) no-repeat center;
    width: 151px;
    height: 151px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 375px) {
  header {
    width: 100%;
  }
  .services {
    width: 100%;
  }
  .menu-one {
    margin: 10px auto;
  }
   .menu-two {
    margin: 10px auto 30px;
  }
}
@media screen and (min-width: 414px) {
  header {
    width: 100%;
  }
  .services {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
   header {
    width: 100%;
  }

  .services {
    width: 100%;
  }
   .menu-one {
    margin: 0;
    display: inline-block;
    padding: 0;

  }
   .menu-two {
    margin: 0;
    display: inline-block;
    padding: 0;
  }

  nav {
    display: inline-block;
    margin-bottom: 50px;
    text-align: right;
  }
  .menu-two a {font-size: 16px;}

  .menu-one a {font-size: 16px;}
  .header-text h2 {font-size: 28px;}
  .header-text {
    margin: 0 0 50px;
  }
  .button {
    font: 22px Oxygen;
    margin: 0 auto;
    padding: 5px 20px;
  }
  .caption h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .line {
    width: 70px;
    border-bottom: 3px solid #7dc4b6;
  }
  .caption-text {
    margin: 0 0 50px;
  }
  .caption-text p {
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
  }

  .head h4 {
    font-size: 24px;
    font-weight: 300;
  }
  .content {
    margin-bottom: 20px;
    width: 100%;
  }
  .content p {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
  }

}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
  }
  .services {
    width: 100%;
  }
  nav {
    margin-top: 60px;
    margin-bottom: 120px
  }
  .header-text h2 {font-size: 36px;}

  .button {
    font: 23px Oxygen;
    font-weight: 700;
    padding: 15px 30px;
    margin-bottom: 110px;
    margin-top: 9px;
  }
  .caption h3 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .line {
    width: 80px;
    border-bottom: 4px solid #7dc4b6;
  }
  .caption-text {
    margin: 0 auto 10px;
    display: block;
    text-align: center;
  }
  .caption-text p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    width: 60%;
  }

  .head h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .content {
    margin-bottom: 20px;
    width: 100%;
  }
  .content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .block-one {
    display: inline-block;
    width: 20%;
    float: left;
    margin-top: 50px;
    margin-right: 6%
  }
  .block-two {
    display: inline-block;
    width: 20%;
    float: left;
    margin-top: 50px;
    margin-right: 6%
  }
  .block-three {
    display: inline-block;
    width: 20%;
    float: left;
    margin-top: 50px;
    margin-right: 6%
  }
  .block-four {
    display: inline-block;
    width: 20%;
    float: left;
    margin-top: 50px;
  }


}


