
$viewport-md: 1024px;

$white: #fff;
$black: #000;
$white-fd: #fdf2f2;
$white-f7: #f7f3ea;
$white-f5: #f57a82;
$green-5d: #5db5a4;
$green-7d: #7dc4b6;
$light-blue: #eefafb;
$black-38: #383838;
$gray-d6: #d6e1e1;
$black-45: #454545;
$light-black: #505252;
$gray-e5: #e5e5e5;
$gray-4d: #4d4d4d;
$gray-a: #aaa;
$gray-d: #ddd;
$light-red: #ed5276;
$gray-f2: #f2869f;
$gray-fb: #fbdce4;
$gray-d7: #d7d7d7;
$black-87: #878787;
$gray-e7: #e7e7e7;
$gray-b6: #b6b6b6;



$basefont: "Raleway", "Oxygen", sans-serif;
